.GemaMainmenu{
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  vertical-align: top;
  transition-duration: 1s;
  @include mobile{
    width: 0;
  }
  &-container{
    background-color: #000;
    width: 100%;
    height: 100%;
    padding: 5vh 2.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 1s;
    @include mobile{
      padding: 0;
    }
  }
  &-mobile{
    display: none;
    @include mobile{
      display: flex;
      background-color: #000;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: .5vh 5vw;
      width: 100vw;
      height: 7vh;
    }
  }
  &-icon{
    width: 80%;
    @include mobile{
      height: 6vh;
      width: auto;
    }
  }
  &-share{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: calc(100vw - 105px);
    width: 105px;
    padding-right: 30px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    @include desktop{
      &:not(.desktop){
        display: none;  
      }
    }
    @include mobile{
      display: flex;
      max-height: 0;
      transition-duration: .5s;
      overflow: hidden;
      top: 7vh;
      bottom: auto;
      left: 87vw;
      width: 10vw;
      padding-right: 2vw;
    }
    &.opened{
      @include mobile{
        max-height: 100vh;
      }
    }
    &-text{
      @include text($sans, -1, $gris);
      text-transform: uppercase;
      @include mobile{
        display: none;
      }
    }
    &-buttons{
      width: 35px;
      &-element{
        &>img{
          width: 100%;
          margin: var(--fuente-3) 0 0;
          transition-duration: .5s;
        }
        &:hover{
          &>img{
            transform: scale(1.1);
            opacity: .8;  
          }
        }
      }
    }
  }
  &-hamb{
    background-color: transparent;
    border: none;
    width: 8vw;
    &>img{
      width: 100%;
    }
  }
  &-logo{
    width: 10vw;
    margin: 0 auto;
    & img{
      width: 100%;
    }
    @include mobile{
      display: none;
      width: 35vw;
    }
  }
  &-footer{
    width: 100%;
    @include mobile{
      width: 35vw;
      margin: 0 auto;
    }
    &-who{
      @include text($sans, 0, $blanco, $light);
      display: block;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 2vh;
      &:hover{
        text-decoration: underline;
      }
      @include mobile{
        font-size: var(--fuente-1_mobile);
        text-decoration: underline;
        text-underline-offset: 1vw;
      }
    }
    &-social{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      &-element{
        cursor: pointer;
        transition-duration: .5;
        width: 2.5vw;
        margin: 0 .3vw .5vw;
        @include mobile{
          width: 7vw;
          margin: 0 2vw 3vw;
        }
        &:hover{
          transform: scale(1.05);
        }
        & img{
          width: 100%;
        }
      }
    }
  }
  @include mobile{
    &:not(.opened){
      & .GemaMainmenu-items{
        display: none;
      }
      & .GemaMainmenu-footer{
        display: none;
      }
    }
    &.opened{
      width: 100vw;
      background-color: #fff7;
      & .GemaMainmenu-container{
        width: 45vw;
        height: 93.1vh;
        position: absolute;
        top: 6.9vh;
      }
    }
  }
}