.GemaSlider{
  width: 85vw;
  margin-left: 15vw;
  overflow-x: hidden;
  position: relative;
  @include mobile{
    width: 100vw;
    margin-left: 0;
    margin-top: 7vh;
  }
  &-container{
    display: flex;
    width: max-content;
    transition-duration: 1s;
    will-change: transform;
  }
  &-element{
    width: 85vw;
    height: 100vh;
    position: relative;
    @include mobile{
      width: 100vw;
      height: 93vh;
    }
    &-flag{
      position: absolute;
      background: url('../assets/white_flag.svg') no-repeat;
      background-size: contain;
      top: 0;
      right: 100px;
      box-sizing: border-box;
      padding: 0 7px;
      width: 100px;
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include mobile{
        right: 10vw;
        width: 23vw;
        padding: 0 2vw;
        height: 39vw;
      }
      &-text{
        @include text($sans, -1, $negro, $bold);
        margin-bottom: var(--fuente0);
        @include mobile{
          margin-bottom: var(--fuente0_mobile);
        }
      }
      &-img{
        width: 100%;
      }
    }
    &-image{
      width: 85vw;
      height: 100vh;
      object-fit: cover;
      display: block;
      @include mobile{
        width: 100vw;
        height: 93vh;
        // height: 186vw;
      }
    }
    &-info{
      position: absolute;
      z-index: 10;
      box-sizing: border-box;
      width: 40vw;
      top: 35vh;
      left: 35vw;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @include mobile{
        width: 100vw;
        bottom: 10vh;
        left: 10vw;
        width: 80vw;
        top: auto;
        justify-content: flex-end;
        align-items: center;
      }
      &-title{
        color: #fff;
        font-family: $sans;
        font-weight: $bold;
        font-size: var(--fuente4);
        line-height: 1.1;
        padding: 10px 0;
        margin: 0;
        @include tablet{
          font-size: 2.7vw;
          line-height: 2.9vw;
          padding: 0.8vw 0;
        }
        @include mobile{
          font-size: var(--fuente2_mobile);
          padding: 3vw 0;
        }
      }
      &-text{
        color: rgb(253, 253, 253);
        font-family: var(--texto);
        font-weight: var(--regular);
        font-size: 18px;
        padding: 5px 0;
        margin: 0;
        @include tablet{
          font-size: 1.4vw;
          padding: .5vw 0;
        }
        @include mobile{
          font-size: 4vw;
          padding: 1vw 0;
        }
        &-actividades{
          color: #000;
          text-align: center;
          padding:  0;
        }
      }
      &-logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--fuente0) 0;
        height: 50px;
        @include mobile{
          height: 10vw;
        }
        &-item{
          height: 100%;
          margin-right: var(--fuente2);
        }
      }
      &-button{
        background-color: $blanco;
        font-weight: $regular;
        color: $violeta_oscuro;
        width: max-content;
        text-transform: uppercase;
        font-family: $sans;
        font-weight: $bold;
        transition-duration: .5s;
        border-radius: 50vw;
        padding: var(--fuente-1) var(--fuente1);
        font-size: var(--fuente0);
        &:hover{
          transform: scale(1.05);
        }
        @include mobile{
          padding: var(--fuente-2_mobile) var(--fuente0_mobile);
          font-size: var(--fuente-1_mobile);
        }
      }
      &-actividades{
        position: relative;
        margin: auto;
        box-sizing: border-box;
        padding: 10px;
        width: 550px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient( to right, var(--azulclaro) 10%, transparent 70%);
        @include mobile{
          justify-content: flex-end;
          padding: 2.5vw;
          width: 90vw;
          background: linear-gradient( to top, var(--azulclaro) 10%, transparent 70%);
        }
      }
    }
    &-actividades{
      width: 600px;
      @include tablet{
        width: 43vw;
      }
      @include mobile{
        width: 90vw;
      }
    }
  }
  &-button{
    cursor: pointer;
    width: 65px;
    height: 100vh;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    transition-duration: 1s;
    padding: 0 20px;
    &:focus{
      outline: none;
    }
    @include mobile{
      width: 10vw;
      height: 93vh;
      padding: 0 2vw;
    }
    & img{
      width: 100%;
    }
    & .pause{
      display: none;
    }
    &:first-of-type{
      left: 0;
      & img{
        transform: rotate(90deg);
      }
      &:hover{
        background: linear-gradient(to left, transparent, #ffffff3f);
      }
    }
    &:last-of-type{
      right: 0;
      & img{
        transform: rotate(-90deg);
      }
      &:hover{
        background: linear-gradient(to right, transparent, #ffffff3f);
      }
    }
  }
  &-dots{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    bottom: 4vh;
    width: 50%;
    left: 25%;
    @include mobile{
      margin: 0 auto;
    }
    &-element{
      cursor: pointer;
      border: solid 2px $blanco;
      border-radius: 50%;
      margin: 0 10px;
      width: 15px;
      height: 15px;
      background-color: transparent;
      padding: 0;
      &.active{
        background-color: $blanco;
      }
      @include mobile{
        width: 3vw;
        height: 3vw;
        margin: 0 2vw;
        border-width: .7vw;
      }
    }
  }
}