.GemaInfonote-modal#creditsmodal(onclick="validateTarget(Gemaopen, 'creditsmodal');")
  .GemaInfonote-modal-container 
    .GemaInfonote-modal-names 
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title Luisa Fernanda Gómez Cruz
        p.GemaInfonote-modal-names-item-subtitle Coordinación, investigación y reportaje
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title José Manuel Cuevas
        p.GemaInfonote-modal-names-item-subtitle Edición general
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title Ingrid Ramírez Fuquen
        p.GemaInfonote-modal-names-item-subtitle Edición del reportaje
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title José Felipe Sarmiento
        p.GemaInfonote-modal-names-item-subtitle Fact-checking
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title María Paula Vásquez
        p.GemaInfonote-modal-names-item-subtitle Transcripciones
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title Laura Bayer Yepes
        p.GemaInfonote-modal-names-item-subtitle Base de datos y redacción
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title Laura Castaño Giraldo
        p.GemaInfonote-modal-names-item-subtitle Base de datos
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title Diego Villate González
        p.GemaInfonote-modal-names-item-subtitle Diseño e ilustración
      .GemaInfonote-modal-names-item 
        p.GemaInfonote-modal-names-item-title Juan Diego Mesa
        p.GemaInfonote-modal-names-item-subtitle Desarrollo web
    .GemaInfonote-modal-logos
      .GemaInfonote-modal-logos-elements 
        .GemaInfonote-modal-logos-elements-item 
          p.GemaInfonote-modal-logos-elements-item-text Un proyecto de:
          img.GemaInfonote-modal-logos-elements-item-image(src="https://gema.media/wp-content/themes/gema-media/assets/GEMA.svg", alt="Logo de Gema")
        .GemaInfonote-modal-logos-elements-item 
          p.GemaInfonote-modal-logos-elements-item-text Con la financiación de:
          img.GemaInfonote-modal-logos-elements-item-image(src="https://gema.media/wp-content/themes/gema-media/assets/embajadaEEUU.png", alt="Logo Embajada de EEUU")
          img.GemaInfonote-modal-logos-elements-item-image(src="https://gema.media/wp-content/themes/gema-media/assets/TechCamp.png", alt="Logo Tech Camp")
        .GemaInfonote-modal-logos-elements-item 
          p.GemaInfonote-modal-logos-elements-item-text Y con el apoyo de:
          img.GemaInfonote-modal-logos-elements-item-image(src="https://gema.media/wp-content/themes/gema-media/assets/cuestion_publica.png", alt="Logo Cuestión Pública")
      p.GemaInfonote-modal-logos-text *Las opiniones aquí expuestas no reflejan la posición del Gobierno de Estados Unidos.
      p.GemaInfonote-modal-logos-text ©GEMA - Todos los derechos reservados<br/>Julio 2022