head
  title #{title} | Un especial de GEMA en alianza con Cuestión Pública
  meta(name="title" content="#{title} | Un especial de GEMA en alianza con Cuestión Pública")
  <meta name="description" content="En Colombia hay #MigrantesConDerechos a la salud sexual y reproductiva, pero: ¿Qué ha hecho el Estado para garantizarlos? ¿A dónde pueden acudir si necesitan un servicio? ¿Cómo acercarles la información?">
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=3, initial-scale=1, user-scalable=yes')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700;900&family=Noto+Serif:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet")
  link(rel='stylesheet', href='./css/gema_styles.css')
  link(rel="icon" href="https://cuestionpublica.com/wp-content/uploads/2018/06/favicon-96x96-1.png")
  <link rel="canonical" href="https://gema.media/migrantes-con-derechos-a-la-salud-sexual-y-reproductiva/">
  //- OG y TW
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@UBPDcolombia">
  <meta name="twitter:title" content="La búsqueda de los Angulo Castañeda | Especial - Unidad de Búsqueda de Personas Dadas por Desaparecidas">
  <meta name="twitter:description" content="Símbolo de las miles de familias que han sufrido el secuestro y la desaparición en Colombia">
  <meta name="twitter:url" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/">
  <meta property="og:title" content="La búsqueda de los Angulo Castañeda | Especial - Unidad de Búsqueda de Personas Dadas por Desaparecidas">
  <meta property="og:description" content="Símbolo de las miles de familias que han sufrido el secuestro y la desaparición en Colombia">
  <meta name="twitter:image:width" content="1280">
  <meta name="twitter:image:height" content="649">
  <meta name="twitter:image" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/assets/og_especial_angulo.jpeg">
  <meta property="og:image" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/assets/og_especial_angulo.jpeg">
  <meta property="og:image:url" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/assets/og_especial_angulo.jpeg">
  <meta property="og:image:secure_url" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/assets/og_especial_angulo.jpeg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="649">
  <meta name="twitter:gallery:image0" content="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/assets/og_especial_angulo.jpeg">
  //- Analytics 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2D6VPRENGS"></script>
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2D6VPRENGS');