nav.GemaMainmenu#GemaMainmenu(onclick="validateTarget(Gemaopen, 'GemaMainmenu');")
  .GemaMainmenu-container
    .GemaMainmenu-mobile 
      img.GemaMainmenu-icon(src="./assets/gema_icon.png", alt="")
      button.GemaMainmenu-hamb(onclick="Gemaopen('GemaMainmenu');")
        img(src="./assets/hamb_menu.svg", alt="")
    a.GemaMainmenu-logo(href="#")
      img(src="./assets/gema_white_text.png", alt="")
    ul.GemaMainmenu-items 
      a(href="") 
        li.GemaMainmenu-items-element.genero Género 
          span
      a(href="") 
        li.GemaMainmenu-items-element.educacion Educación
          span
      a(href="") 
        li.GemaMainmenu-items-element.migracion Migración 
          span
      a(href="") 
        li.GemaMainmenu-items-element.ambiente Ambiente
          span
    .GemaMainmenu-footer 
      a.GemaMainmenu-footer-who(href="./quienes.html") Quiénes somos 
      .GemaMainmenu-footer-social
        a.GemaMainmenu-footer-social-element(href="")
          img(src="./assets/mail_softgrey_icon.svg", alt="") 
        a.GemaMainmenu-footer-social-element(href="")
          img(src="./assets/instagram_softgrey_icon.svg", alt="") 
        a.GemaMainmenu-footer-social-element(href="")
          img(src="./assets/twitter_softgrey_icon.svg", alt="") 
        a.GemaMainmenu-footer-social-element(href="")
          img(src="./assets/facebook_softgrey_icon.svg", alt="") 