.GemaMap#GemaMigrantesMap
  //- .GemaMap-info
  //-   select.GemaMap-info-select
  //-     option Uno
  //-     option Dos
  //-   .GemaMap-img
  //-     img(src="https://gema.media/wp-content/uploads/2022/07/mapa_migrantes_vichada.svg", alt="")
  //-   .GemaMap-info-numbers
  //-     .GemaMap-info-numbers-item.floatright
  //-       p.GemaMap-info-numbers-item-text Asesoría en planificación familiar:
  //-       p.GemaMap-info-numbers-item-number 9999
  //-       p.GemaMap-info-numbers-item-subtext (14 públicas)
  //-     .GemaMap-info-numbers-item
  //-       p.GemaMap-info-numbers-item-text Control prenatal:
  //-       p.GemaMap-info-numbers-item-number 9999
  //-       p.GemaMap-info-numbers-item-subtext
  //-     .GemaMap-info-numbers-item
  //-       p.GemaMap-info-numbers-item-text Control prenatal:
  //-       p.GemaMap-info-numbers-item-number 9999
  //-       p.GemaMap-info-numbers-item-subtext
  //-     .GemaMap-info-numbers-item.floatleft
  //-       p.GemaMap-info-numbers-item-text Asesoría en planificación familiar:
  //-       p.GemaMap-info-numbers-item-number 9999
  //-       p.GemaMap-info-numbers-item-subtext (14 públicas)
  //-     .GemaMap-info-numbers-item
  //-       p.GemaMap-info-numbers-item-text Control prenatal:
  //-       p.GemaMap-info-numbers-item-number 9999
  //-       p.GemaMap-info-numbers-item-subtext
  //-   .GemaMap-info-content
  //-     p.GemaMap-info-content-title Conclusiones para destacar:
  //-     p.GemaMap-info-content-text 10 IPS en el departamento del Amazonas atienden casos de violencia sexual y partos. Solamente en la capital, Leticia, se puede consultar por Ginecología o Urología, pero hay ayudas diagnósticas en otros 7 corregimientos. Solamente 1 IPS presta el servicio de ultrasonido y es privada. Solamente 1 profesional de la salud independiente realiza el proceso de esterilización en el departamento. Solamente 2 IPS brindan acompañamiento psicológico.