header.GemaInfonote-header.outstanding#GemaInfonote-header(style='--header_image: ' + headerimage)
  if type
    p.GemaInfonote-header-text #{type}
  .GemaInfonote-header-head 
    h1.GemaInfonote-header-head-title #{titulo}
    p.GemaInfonote-header-head-subtitle #{subtitulo}
  if autor
    p.GemaInfonote-header-text Por: #{autor}