ul.GemaSocialmenu 
    li.GemaSocialmenu-item 
      a(href="#" onclick="copyToClipboard(true)")
        img.GemaSocialmenu-item-icon(src="https://gema.media/wp-content/themes/gema-media/assets/share_blue_icon.svg")
    li.GemaSocialmenu-item 
      a(href="#")
        img.GemaSocialmenu-item-icon(src="https://gema.media/wp-content/themes/gema-media/assets/whatsapp_blue_icon.svg")
    li.GemaSocialmenu-item 
      a(href="")
        img.GemaSocialmenu-item-icon(src="https://gema.media/wp-content/themes/gema-media/assets/facebook_blue_icon.svg")
    li.GemaSocialmenu-item 
      a(href="#")
        img.GemaSocialmenu-item-icon(src="https://gema.media/wp-content/themes/gema-media/assets/twitter_blue_icon.svg")
    li.GemaSocialmenu-item 
      a(href="#")
        img.GemaSocialmenu-item-icon(src="https://gema.media/wp-content/themes/gema-media/assets/linkedin_blue_icon.svg")